html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* swiper navigation style */
.swiper-nav {
  width: 32px;
  height: 32px;
  background-color: white;
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #e5e5e5;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 24%), 0 0 2px 0 rgb(0 0 0 / 12%);
  transition: all 0.3s ease;
}

.swiper-nav {
  &:hover {
    background-color: #767676;
    border-color: #767676;

    svg{
      stroke: #fff;

    }
  }
  &.swiper-button-disabled{
    opacity: 0 !important;
    cursor: default;
  }
  &.swiper-button-hidden{
  opacity: 0 !important;

  }
}
.swiper-button-next {
  right: 10px;
  svg{
    margin-right: -2px;

  }
}

.swiper-button-prev {
  left: 10px;
  svg{
    margin-left: -2px;

  }
}

.swiper-container{
  padding-bottom: 20px;
}

//swiper pagination

.swiper-pagination-bullet{
  background-color: #00B4D8;
}

.swiper-pagination-bullet-active {
  background-color: #00B4D8;
  width: 20px;
  height: 10px;
  border-radius: 30px;
  vertical-align: middle;
}
